27 915 61663.00 P  0.253427 0.017775  0.316664 0.029036  P-0.1152720 0.0252542                                                                                                             
27 916 61664.00 P  0.252290 0.017803  0.315204 0.029092  P-0.1154243 0.0253060                                                                                                             
27 917 61665.00 P  0.251126 0.017830  0.313761 0.029149  P-0.1155956 0.0253578                                                                                                             
27 918 61666.00 P  0.249933 0.017857  0.312334 0.029205  P-0.1157826 0.0254096                                                                                                             
27 919 61667.00                                                                                                                                                                            
27 920 61668.00                                                                                                                                                                            
27 921 61669.00                                                                                                                                                                            
27 922 61670.00                                                                                                                                                                            
27 923 61671.00                                                                                                                                                                            
27 924 61672.00                                                                                                                                                                            
